* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins, sans-serif;
}

/* Header Start */

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  width: 100%;
  background-color: #111827;
}

#headline {
  padding: 0 20px;
  color: orange;
  border-bottom: 3px solid orange;
}

/* Main Start */

#main {
  min-height: 80vh;
  background-color: #151d2c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Scoreboard */

#declare-winner {
  top: 0;
  padding: 40px 0;
  text-align: center;
}

#scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.score {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 40px;
  width: 180px;
  text-align: center;
}

#your-score {
  padding: 7px 12px;
  background-color: #243147;
  border: 2px solid orange;
  border-radius: 50px;
}

#computer-score {
  padding: 7px 12px;
  background-color: #243147;
  border: 2px solid orange;
  border-radius: 50px;
}

.mini-display {
  margin: 20px;
  visibility: hidden;
  width: 64px;
  height: 64px;
}

.button-wrapper {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* Game Start */

#start-button {
  margin-top: 50px;
  padding: 10px 30px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

#game-wrapper {
  display: flex;
  justify-content: center;
}

#result {
  text-align: center;
  width: 110px;
  font-size: 20px;
  font-weight: 600;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-buttons {
  padding: 8px;
  margin: 20px;
  background-color: #212c3d;
  border-radius: 5%;
}

.game-buttons:hover {
  outline: 1px solid orange;
  border-radius: 5%;
}

.game-buttons:active {
  background-color: #37445a;
}

@media only screen and (max-width: 600px) {
  #headline {
    font-size: 24px;
  }
  #result {
    font-size: 14px;
  }
  #declare-winner {
    font-size: 20px;
  }
  .score {
    width: 120px;
    font-size: 10px;
    margin: 0 5px;
  }
  .game-buttons {
    height: 80px;
    width: 80px;
  }
  .mini-display {
    width: 48px;
    height: 48px;
  }
  .button-wrapper {
    font-size: 14px;
  }
}
