
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins, sans-serif;
}

/* Header Start */

#header {
    min-height: 20vh;
    width: 100%;
    color: orange;
    padding: 40px 0px;
    text-align: center;
    background-color: #111827;
}

/* Main Start */

#main {
    min-height: 80vh;
    background-color: #151D2C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Scoreboard */

#scoreboard-header {
    padding: 40px 0;
}

#scoreboard {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.score {
    margin: 0 40px;
}

/* Game Start */

p {
    margin-top: 50px;
}

#start-button {
    margin: 50px;
    padding: 10px 30px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

#game-wrapper {
    display: flex;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-buttons {
    margin: 20px;
}

.game-buttons:hover {
    outline: solid 1px orange;
    border-radius: 5%;
    background-color: #212C3D;
}

.game-buttons:active {
    background-color: #37445A;
}

.pick-you {
    margin-top: 7px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: greenyellow;
    border: 2px solid greenyellow;
    padding: 1px 5px;
}

.pick-com {
    margin-top: 7px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: red;
    border: 2px solid red;
    padding: 1px 3px;
}